  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: #f0f0f0;
  }

  .app-container {
      background-color: white;
      border-radius: 5px;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);

      /* Add margin to the notepad container */
      margin: 5px;
      /* Subtract double margin from the total width */
      width: calc(100% - 10px);
      /* Subtract margins and button height from viewport height */
      height: calc(100vh - 10px - 40px);
      /* Add vertical scrollbar if content overflows */
      overflow-y: hidden;
      /* Add position to align save button */
      position: relative;
  }